.planesList {
    /* margin: 10px; */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, auto));
    /* grid-template-columns: repeat(auto-fit, minmax(540px, 50%)); */
    justify-content: center;
    gap: 32px;
    /* outline: 1px solid red; */
}

.planesItem {
    max-width: 59vw;
    display: grid;
    gap: 12px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: lightgray;
} 
/** backgroundColor: '#ffd1d1',  "year" до 1939 - (WWI (1914–1918) + The "Golden Age" of aviation (1918–1939)) */
.planesItemWWIGoldenAge {
    composes: planesItem;
    background-color: #ffd1d1;
}
/** backgroundColor: '#ffdb92',  "year" 1939–1945 - (WWII (1939–1945)) */
.planesItemWWII {
    composes: planesItem;
    background-color: #ffdb92;
}
/** backgroundColor: '#d2fdbd',  "year" 1946-1999 - (Jet age (1946–1999)) */
.planesItemJetAge {
    composes: planesItem;
    background-color: #d2fdbd;
}

/** backgroundColor: '#d6f1ff',  "year" від 2000 - (Нинішнє століття (2000-до наших днів)) */
.planesItemCurrentAge {
    composes: planesItem;
    background-color: #d6f1ff;
}

.invitation {
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #ff5119;
    /* outline: 1px solid red; */
}

.spinnerBox {
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* outline: 1px dotted red; */
}

/*! Cпінер */
.iconSpin {
    margin-bottom: -35px;
    margin-left: 20px;
    color: #a95dff;
    animation: iconSpin 2s infinite linear;
    /*! анімація іконки завантаження */
}

/*! Анімація іконки завантаження (cпінер) */
@keyframes iconSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}