.filterBox {
    width: 100%;
    height: 139px;
    position: fixed;
    /* top: 0; */
    top: 279px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    border: 8px solid #719e7091;
    border-radius: 16px;
    background-color: #c0dec9e9;
    /* outline: 1px red solid; */
}

.button {
    margin: 20px auto;
    padding: 16px 20px;
    display: inline-flex;
    align-items: center;
    font-family: Franklin Gothic Medium, Arial Narrow;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.9);
}

.button:hover {
    color: #d9d902;
    background-color: #902a00;
}

.buttonAllFiltration {
    composes: button;
    border: 6px green solid;
}

.buttonPlaneFiltration {
    composes: button;
    border: 6px yellow solid;
}

.buttonBiplaneFiltration {
    composes: button;
    border: 6px #f59aa9 solid;
}

.buttonHelicopterFiltration {
    composes: button;
    border: 6px #9accf5 solid;
}

.buttonCartFiltration {
    composes: button;
    border: 6px #ff5119 solid;
}
.quantityInCart {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4vh;
    height: 4vh; */
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 1.25rem;
    color: #ffff00;
    border: 3px #ff511999 solid;
    border-radius: 50%;
}
.notEmpty {
    background-color: #ff511999;
}

/*//! Візуалізація активної кнопки */
.active {
    color: #c51900;
    box-shadow: none;
    outline: 1px #902a00 solid;
}

/*! Блокувення кнопки */
.button:disabled {
    color: #c1c1c1;
    cursor: not-allowed;
    border-color: #515151;
    background-color: #808080;
    text-shadow: none;
    box-shadow: none;
}
.button:disabled .quantityInCart {
    display: none;
}

.button:disabled:hover {
    color: #c1c1c1;
    background-color: #808080;
}