/* body {
    margin-top: 140px;
} */

.section {
    /* margin-top: 321px; */
    margin-top: 600px;
    display: grid;
}

.bgTitleBox {
    height: 400px;
    background: #100d0d;
    background-image: url(/airplane-model-store3-state2-form1-lifeCycle-HTTPrequests/images/planes-actual/all-7-bg-comp-3.jpg);
    background-position: left 50px;
    background-repeat: repeat-x;
    background-size: auto 350px;
    /* filter: blur(1px); */
}

.lugrasimoBold {
    font-family: "Lugrasimo", cursive;
    font-weight: 700;
    font-style: normal;
}

.title {
    /* margin-bottom: 24px; */
    font-size: 60px;
    text-align: center;
    /* color: #f7ffbc; */
    color: #d90000;
    text-shadow: 3px 3px 3px #ffdac1;
}

.titleLugrasimoBold {
    composes: lugrasimoBold;
    margin-bottom: 119px;
    font-size: 60px;
    text-align: center;
    /* color: #f7ffbc; */
    color: #d90000;
    text-shadow: 3px 3px 3px #ffdac1;
}

.titleTotal {
    font-size: 45px;
    text-align: center;
    color: #f7ffbc;
    text-shadow: 3px 3px 3px #ff0000;
}
.titleTotalTypes {
    composes: titleTotal;
    margin-bottom: 19px;
}

.titleTotalModels {
    composes: titleTotal;
}
